    a {
        color: $color-primary;
        text-decoration: none;
    }
    
    ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        li {
            margin: 20px;
        }
    }
    
    .back-container {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1000;
    }
    
    .clear {
        clear: both;
    }
    
    %buttons {
        border: none;
        border-radius: 50px;
        background-color: $button-color;
        color: $color-primary;
        padding: 20px 35px;
        margin-top: 30px;
        letter-spacing: 2px;
        font-weight: 600;
    }
    
    @include extra-small-device {
        .title {
            font-size: $footer-size;
        }
    }
    
    body {
        width: 1140px;
        margin: 0 auto;
        @include extra-small-device {
            width: 100%;
        }
        @include small-device {
            width: 540px;
        }
        @include mediume-device {
            width: 720px;
        }
        @include larg-device {
            width: 960px;
        }
        @include wide-device {
            width: 1140px;
        }
    }